<div class="example-button-row text-end mt-5 mb-5" style="padding: 2%">
  <button mat-raised-button routerLink="/employee" >go to employee form</button>
</div>

<div class="container" style="padding: 2%; border: 2px solid darkgreen; background-color: #F5F7F8">




  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="background-color: #E7FBE6">


    <ng-container matColumnDef="employeeId">
      <th mat-header-cell *matHeaderCellDef> employeeId. </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
    </ng-container>


    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef> Employee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
    </ng-container>


    <ng-container matColumnDef="employeeContactNUmber">
      <th mat-header-cell *matHeaderCellDef> Employee Contact NUmber </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeContactNUmber}} </td>
    </ng-container>


    <ng-container matColumnDef="employeeAddress">
      <th mat-header-cell *matHeaderCellDef> Employee Address </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeAddress}} </td>
    </ng-container>


    <ng-container matColumnDef="employeeGender">
      <th mat-header-cell *matHeaderCellDef> Employee Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeGender}} </td>
    </ng-container>


    <ng-container matColumnDef="employeeDepartment">
      <th mat-header-cell *matHeaderCellDef> Employee Department </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeDepartment}} </td>
    </ng-container>


    <ng-container matColumnDef="employeeSkills">
      <th mat-header-cell *matHeaderCellDef> Employee Skills </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeSkills}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

