<div class="container mt-5">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
    <mat-grid-tile>
<!--      now no need to give asset folder onwards angular 17 there is no asset folder just put in public and access like img src="1.jpg" no need to put asset folder or image in asset if you need to add asset folder put asset folder in  public folder then access like below-->
      <img src="/asset/1.png" alt="" height="200px" width="200px" style="cursor: pointer" srcset="" routerLink="employee">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/asset/2.png" alt="" height="200px" width="200px">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/asset/3.png" alt="" height="200px" width="200px">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/asset/4.png" alt="" height="200px" width="200px">
    </mat-grid-tile>
  </mat-grid-list>
</div>
